.button-filter {
    -fx-font-size: 13px;
    -fx-font-family: "Arial";
    -fx-text-fill: #222222;
    -fx-background-color: #EEEEEE;
    -fx-border-color: #3F51B5;
    -fx-border-width: 2px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
    -fx-padding: 0.5em;
    -fx-cursor: hand;
}

.textfield-recherche {
    -fx-padding: 0.5em;
    -fx-border-color: #3F51B5;
    -fx-border-radius: 50px;
    -fx-border-width: 2px;

    -fx-background-radius: 50px;
}

.selected {
    -fx-background-color: #7986CB;
    -fx-text-fill: #222222;
    -fx-effect: innershadow(gaussian, #222222, 10, 0.25, 0, 2);
}